*, *:before, *:after {
    box-sizing: border-box;
}

body {
    min-width: 1920px;
    margin: 0 auto;
    overflow-x: auto;
}

h1, h3 {
    margin: 0;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
}

.container__wrapper {
    margin-top: 25px;
    margin-right: 60px;
    margin-left: 82px;
}

.container__nav {
    margin-left: auto;
    margin-right: 100px;
}

.h-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.h-list__item {
    margin-right: 66px;
}

.h-list__item:last-child {
    margin-right: 0;
}

.h-list__link {
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;
    text-decoration: none;
}
.h-list__link:hover, .h-list__link:focus, .h-list__link:active {
    opacity: .75;
}

.container_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    min-width: 270px;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat-ExtraBold', serif;
    font-size: 14px;
    text-decoration: 0;
    background: #F9CA25;
    border-radius: 40px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
    justify-self: end;
}

.container_btn:hover {
    background: #e7c961;
}
/*Header end*/

.banner {
    height: 100vh;
}

.img-cover {
    background-repeat:no-repeat;
    background-size: cover;
}

.banner__container {
    margin-left: 270px;
    margin-right: 270px;
}

.banner__title {
    padding-top: 195px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 72px;
    line-height: 86.4px;
    color: #FFF;
    max-width: 877px;
}

.banner__content {
    font-family: PT_Serif;
    font-size: 22px;
    color: #FFF;
    max-width: 760px;
    margin-top: 36px;
    line-height: 1.7;
}

.h-scroll {
    justify-content: space-between;
    /*overflow-x: auto;*/
}

.banner__block {
    margin-top: 119px;
}

.v-block-ref {
    display: inline-block;
    text-decoration: none;
}

.banner__item {
    margin-right: 21px;
}

.banner__item:last-child {
    margin-right: 0;
}

.banner__item-img {
    height: 233px;
    min-width: 446px;
    border-radius: 10px;
}

.banner__item-title {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 22px;
    margin-top: 20px;
    color: #ffffff;
}

.main-body__container {
    margin-left: 110px;
    margin-right: 110px;
}

.main-body__title {
    color: #000;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 42px;
    line-height: 1.2;
    padding-top: 102px;
}

.main-body__block {
    margin-top: 43px;
}

.main-body__item {
    margin-right: 60px;
}

.main-body__item:last-child {
    margin-right: 0;
}

.main-body__item-img {
    height: 305px;
    width: 380px;
    margin-bottom: 17px;
}

.main-body__item-title {
    max-width: 360px;
}

.main-body__item-ref {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    color: #000;
    text-decoration: none;
}


.main-body__item-line {
    margin-top: 15px;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 14px;
    color: #999999;
    padding-bottom: 145px;
}

.main-body__item-state {
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
}

.main-body__item-state-text {
    margin-left: 11px;
}

/*Footer start*/
.footer__back {
    background: #F5F5F5;
}

.footer__container {
    margin-left: 63px;
    margin-right: 159px;
    display: flex;
}

.footer__policy {
    padding-top: 141px;
    display: inline-block;
    max-width: 663px;
}

.footer__text {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 63px;
    color: #999999;
}

.footer__blog {
    margin-left: auto;
    margin-top: 133px;
    margin-right: 228px;
}

.footer__blog:last-child {
    margin-left: 0;
    margin-right: 0;
}

.footer__blog-title {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
}

.footer__blog-nav {
    list-style-type: none;
    padding: 0;
    margin-top: 44px;
    margin-bottom: 80px;
}

.footer__blog-item {
    margin-bottom: 28px;
}

.footer__blog-item:last-child {
    margin-bottom: 0;
}

.footer__blog-ref {
    text-decoration: none;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #999999;
    margin-bottom: 12px;
}

.footer__line {
    margin: 0 55px 0 55px;
    border-bottom: 1px solid #999999;
}

.footer__info {
    margin-top: 80px;
    margin-left: 63px;
    padding-bottom: 83px;
}

.footer__media-title {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
}

.footer__media-item {
    margin-right: 45px;
}

.footer__info-title {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 52px;
    line-height: 1.2;
    margin-left: auto;
}

.footer__info-title:last-child {
    margin-left: 83px;
    margin-right: 55px;
}